img{
  width: 20rem;
}

table{
  display: inline-table;
  width: 100%;
}

.container{
  margin-top: 3rem;
  width: 60rem;
  margin-bottom: 3rem;
}

span{
  margin: 1rem;
}

.btn{
  margin-top: 3rem;
 position: absolute;
 top: 0.1rem;
 right: 3rem;
 width: 7rem;
 height: 3rem;
}
