.tableSize{
  padding-left: 8rem;
  padding-right: 8rem;
}

.tittle{
 background-color: rgb(63, 79, 79);
 color: aliceblue;
}

.imagen{
 text-align: center;
 margin-bottom: 2rem;
 margin-top: 2rem;
 z-index: 1;
}

img{
  width: 40rem;
}
